button {
  border-radius: 2rem;
  transition: all 0.5s;
}

.contact_one {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ff4a1d;
  padding: 1rem 2.5rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #f95024;
  }
}

.contact_two {
  font-size: 1rem;
  background-color: #ff4a1d;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #f95024;
  }
}

.penslab {
  text-align: center;
  color: #f95024;
  span {
    color: black;
  }
}

.pens {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}

.formData {
  margin: 1rem 0rem;
  h2 {
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}
